<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block layout:include="fragments/head"/>
<body>
<h1>Endereço</h1>
<form>

    <div class="row">
        <div class="col-sm-2">Id:</div>
        <div class="col-sm-4"><span th:utext="${address.id}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">CEP:</div>
        <div class="col-sm-4"><span th:utext="${address.zip}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Estado:</div>
        <div class="col-sm-4"><span th:utext="${address.state}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Cidade:</div>
        <div class="col-sm-4"><span th:utext="${address.city}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Bairro:</div>
        <div class="col-sm-4"><span th:utext="${address.district}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Logradouro:</div>
        <div class="col-sm-4"><span th:utext="${address.street}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Número:</div>
        <div class="col-sm-4"><span th:utext="${address.number}"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Complemento:</div>
        <div class="col-sm-4"><span th:utext="${address.complement}"></span></div>
    </div>

    <a th:href="@{/ender/address/list}">Voltar</a>
</form>
</body>
</html>